@import '../../utils/utils.scss';

  .card {
    width: 200px;
    border: 1px solid var(--optional-rose);
    border-radius: 5px;
    background-color: var(--main-white);
    padding: 32px 16px 16px;

    &__link {
      text-decoration: none;
      color: var(--main-grey);
    }
    
    &_apple {
      display: block;
      width: 160px;
      height: 134px;
      margin: 0 auto 40px;
    }

    &_descript {
      margin-bottom: 4px;
      font-weight: 700;
      font-size: 12px;
      line-height: 18px;
      color: var(--main-grey);
    }

    &_code {
      font-size: 10px;
      line-height: 14px;
      font-weight: 400;
      color: var(--main-grey);
      margin-bottom: 16px;
    }

    &_rew {
      margin-bottom: 24px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &_price {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
    }

    &_buy {
      padding: 12px 0;
      display: inline-block;
      width: 100%;
      border: 1px solid transparent;
      border-radius: 5px;
      text-decoration: none;
      color: var(--main-white);
      background-color: var(--main-grey);
      text-align: center;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 16px;
      font-weight: 700;

      &:hover {
        background-color: var(--main-white);
        border-color: var(--main-grey);
        color: var(--main-grey);
        cursor: pointer;
      }
    }
  }
  

  .review {
    color: var(--main-grey);
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
  }
  
  .price {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: var(--optional-darkBlue); 
    
    &_value {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color: var(--optional-darkBlue);
    }
  }
  
 
  .stars {
    display: flex;
    justify-items: flex-start;
  
    &__star {
      background-image: url("../../../public/images/star.svg");
      background-repeat: no-repeat;
      background-position: center;
    
      width: 16px;
      height: 16px;
      margin-right: 4px;

      &:hover {
        cursor: pointer;
      }

      .stars--1 &:nth-child(-n+1),
      .stars--2 &:nth-child(-n+2),
      .stars--3 &:nth-child(-n+3),
      .stars--4 &:nth-child(-n+4),
      .stars--5 &:nth-child(-n+5) {
        background-image: url("../../../public/images/star-active.svg");
      }

      &:hover {
        background-image: url("../../../public/images/star-active.svg");
        transform: scale(1.2);
      }
    }

    & :last-child {
      margin-right: 0;
    }
   }
 
  