.loader {
    text-align: center;
    margin: auto;
    animation:spin 1s infinite linear;
    border: solid 1vmin transparent;
    border-radius:50%;
    border-right-color:#333;
    border-top-color:#333;
    box-sizing:border-box;
    height:10vmin;
    width:10vmin;
    z-index:1;
  }
  
  @keyframes spin {
    100% {
      transform:rotate(360deg);
    }
  }